@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 전체 */


/* a 태그 */
a {
  text-decoration: none;
}

/* .wrap */
.wrap-e {
   margin: 0 100px;
   margin-bottom: 50px;
}




.main-e{
margin:0 100px;
}

/* colors - 영역*/

.main-container{
border: 1px solid blue;
}

.wrap{
border: 1px solid green;
}

section{
border: 1px solid #9b59b6;
}

footer{
border: 1px solid #e67e22;
}

/*상품 이미지 등록 */

.edit-container{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin: 0 auto;
}

/* 상품수정 */
.edit-container > h1{
    margin-bottom: 28px;
}


/* form 사이즈 */
.item-edit-form{
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

.edit{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

.item-edit-form > small{
display: flex;
flex-direction: column;
justify-content: space-between;

}

.item-edit-form > small > span{
    text-align: center;
    padding-bottom: 20px;
    }

.item-edit-form > small > img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

textarea[name="itemDesc"]{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.edit-btn{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    float: right;
}

button:hover{
    color: white;
    background-color: black;
}

/* 카테고리 */
select[name="category"], select[name="subcategory"]{
    width: 200px;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
}