.mySlides {
    display: none; /* 기본적으로 모든 슬라이드를 숨김 */
}

.fade {
    animation: fade 1.5s; /* 페이드 애니메이션 */
}

@keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}

/* 배너 및 슬라이더 dot 스타일 */
.dots {
    text-align: center;
    margin-top: 10px; /* 위쪽 여백 */
}

/* 배너 dot 스타일 */
.banner-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ddd; /* 기본 dot 색상 */
    border-radius: 50%; /* 원형 dot */
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 색상 전환 애니메이션 */
}

.banner-dot.active {
    background-color: #333; /* 활성화된 배너 dot 색상 */
    width: 30px; /* 활성화 시 길어짐 */
    border-radius: 14px; /* 둥근 테두리 */
    transition: background-color 0.3s ease; /* 색상 전환 애니메이션 */
}

/* 슬라이드 박스 */
.slide-box {
    position: relative; /* 위치 설정 */
    cursor: pointer; /* 포인터 커서 */
}

/* 이전 버튼 스타일 */
.prev {
    position: absolute; /* 절대 위치 */
    left: 0%; /* 좌측 정렬 */
    top: 45%; /* 수직 중앙 */
    color: black; /* 색상 */
    font-size: 40px; /* 크기 */
}

/* 다음 버튼 스타일 */
.next {
    position: absolute; /* 절대 위치 */
    right: 0%; /* 우측 정렬 */
    top: 45%; /* 수직 중앙 */
    color: black; /* 색상 */
    font-size: 40px; /* 크기 */
}

/* 반응형 디자인 */
@media screen and (max-width: 767px) {
  .mySlides > img {
      height: 350px; /* 작은 화면에서 이미지 높이 */
  }
}
