<section class="content-slider" th:fragment="content">
  <div class="container">
    <ul class="slider-container simple-list" id="slider">
      <li class="slide"> <!-- items 리스트를 반복 -->
        <div class="items">
          <div class="card" th:each="item : ${items}">
            <a th:href="@{/item/{id}(id=${item.id})}">
              <img th:src="${item.imgURL}" alt="상품 이미지"> <!-- 이미지 URL -->
              <div class="text-box">
                <h5 th:text="${item.title}">상품이름입니다</h5> <!-- 상품 이름 -->
                <br>
                <span th:text="${item.price}">가격입니다</span> <!-- 가격 -->
                <br>
                <span th:text="${item.itemDesc}">추가적으로 들어갈 부분</span> <!-- 설명 -->
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <!-- <a class="prev">prev</a> -->
    <!-- <a class="next">next</a> -->
  </div>
</section>
