<!-- 메인페이지 아이템 들어갈 부분입니다. -->

<section class="content-slider" th:fragment="content">
  <div class="container">
    <ul class="slider-container simple-list" id="slider">
      <li class="slide">
        <div class="items">
          <!-- 아이템 -->
          <div class="card">
            <a><!--호버효과 줄 예정-->
              <img src="https://placehold.co/300">
              <div class="text-box">
                <h5>상품이름입니다</h5>
                <br>
                <span>가격입니다</span>
                <br>
                <span>추가적으로 들어갈 부분</span>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <!--      <a class="prev">prev</a>-->
    <!--      <a class="next">next</a>-->
  </div>
</section>
