<footer th:fragment="footer" class="footer">
    <div class="text-footer">
        <li>(주)SecondHand</li>
        <li>사업자 등록번호 : 111-11-1111</li>
        <li>통신판매신고번호 : 제2024-OO구-1234호</li>
        <li>주소 : OO시 OO구 OO대로 301 hand빌딩 6층</li>
        <li>대표번호 : 1234-5678</li>
    </div>
    <div class="list-footer">
        <li><a href="">이용약관</a></li>
        <li><a href=""><b>개인정보처리방침</b></a></li>
        <li><a href="">분쟁처리절차</a></li>
        <li><a href="">청소년보호정책</a></li>
        <li><a href="">사업자정보확인</a></li>
        <li><a href="">게시글 수집 및 이용 안내</a></li>
        <li><a href="">secondHand 고객센터</a></li>
    </div>
    <p style="font-weight:bold">SecondHand 상점의 판매상품을 제외한 모든 상품들에 대하여, (주)SecondHand는 통신판매중개자로서 거래 당사자가 아니며 <br>
        판매 회원과 구매 회원 간의 상품거래 정보 및 거래에 관여하지 않고, 어떠한 의무와 책임도 부담하지 않습니다.
    </p>
</footer>