<div th:fragment="navbar" class="wrap">

    <header>
      <!-- 메뉴 -->
      <nav>
        <div class="menu-top">
          <div class="logo">
            <a href="/home" class="logo">SecondHand</a>
          </div>
          <div class="join" id="#">
            <li th:if="${!isLoggedIn}"><a th:href="@{/login}">로그인</a></li>
            <li th:if="${!isLoggedIn}"><a th:href="@{/register}">회원가입</a></li>
            <li th:if="${isLoggedIn}">
              <span th:text="'환영합니다, ' + ${username} + '!'"></span>
              <a th:href="@{/logout}">로그아웃</a>
            </li>
            <li><a href="/my-page">마이페이지</a></li>
            <li><a href="/">채팅하기</a></li>
            <li><a href="/">메뉴4</a></li>
            <li><a href="/">메뉴5</a></li>
          </div>
        </div>
        <div class="menu-bot">
          <div class="Category">
            <li><a href="/item">아이템 작성</a></li>
            <li><a>메뉴1</a></li>
            <li><a>메뉴1</a></li>
            <li><a>메뉴1</a></li>
            <li><a>메뉴1</a></li>
            <li><a>메뉴1</a></li>
          </div>
          <form class="search-btn" method="POST">
            <input type="search" id="searchText" name="searchText" placeholder="검색어" th:value="${searchText}">
            <button type="submit">검색</button>
            <i class="icon-search"></i>
          </form>
        </div>
      </nav>
    </header>
</div>