<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List</title>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/search.css">
  <link rel="icon" type="image/jpg" href="/images/logo.jpg" />
  <script src="/js/nav.js" defer></script>

</head>
<body>
<div class="fix">
  <div th:replace="~{nav.html::navbar}"></div>
</div>

<div class="main-container-e">

  <div class="search-container-e">

    <!-- 검색창 -->
    <form id="searchForm" class="search-Form" method="post">
      <input type="search" id="searchText" name="searchText" placeholder="검색어를 입력하세요" th:value="${searchText}">
      <button class="search-page-btn" type="submit">검색</button>
    </form>

    <script src="/js/search.js" defer></script>

    <!--해당 제품 검색 결과 추가-->
    <h4 class="search-result" id="">해당 제품에 대해 검색한 결과 : <span>124개</span></h4>

    <!--카테고리 추가-->
    <ul class="search-category">
      <li><a href="/list?category=1">카테고리1</a></li>
      <li><span>&#10095;</span></li>
      <li><a href="/list?category=2">카테고리2</a></li>
    </ul>

    <!--아이템 박스-->
    <div class="search-item-grid">
      <a href="" class="search-box-test" th:each="i : ${items}">
        <div class="search-item-box">
          <div class="search-item-img" id="">
            <img th:src="${i.imgURL}" id="" alt="이미지">
          </div>
          <div class="search-item-text">
            <h4 class="search-item-title" th:href="@{/item/{id}(id=${i.id})}" th:text="${i.title}">텀블러 텀블러가 우후죽순</h4>
            <h4 class="search-item-price" th:text="${i.price} +원">25000원</h4>
          </div>
          <!-- 지도 추가 -->
          <div class="search-location-pin">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F0yRxr%2FbtsKmL5rJa7%2FkUXcovSEN2t6dSziK95FTk%2Fimg.png" alt="">
            <span>00시 00구 00동</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--페이지 처리-->
<div th:if="${totalPage > 1}">
  <nav>
    <ul class="pagination">
      <li th:class="${currentPage == 1} ? 'disabled'">
        <a th:href="${currentPage == 1 ? 'javascript:void(0);' : '/list/' + searchText + '?page=' + (currentPage - 1)}">prev</a>
      </li>
      <li th:each="page : ${#numbers.sequence(1, totalPage)}"
          th:class="${page == currentPage} ? 'active'">
        <a th:href="${'/list/' + searchText + '?page=' + page}" th:text="${page}"></a>
      </li>
      <li th:class="${currentPage >= totalPage} ? 'disabled'">
        <a th:href="${currentPage >= totalPage ? 'javascript:void(0);' : '/list/' + searchText + '?page=' + (currentPage + 1)}">next</a>
      </li>

    </ul>
  </nav>
</div>
</div>
</body>
</html>