<div class="wrap" th:fragment="slider">
  <section class="slide-box">
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/images/b1.webp" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/images/b2.webp" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/images/b4.webp" style="width:100%">
    </div>

    <!-- 다음, 이전 이미지 버튼 -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <!-- 현재 이미지를 알려주는 하단의 점 -->
    <div style="text-align:center">
      <span class="banner-dot" onclick="currentSlide(1)"></span>
      <span class="banner-dot" onclick="currentSlide(2)"></span>
      <span class="banner-dot" onclick="currentSlide(3)"></span>
    </div>
</section>
</div>